@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #1a261a;
  --background: #91d392;
  --curve-low-price: green;
  --curve-mid-price: orange;
  --curve-high-price: red;
  --axis-ticks: orange;
  --annotation-line: orange;
  --divider-line: purple;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #91d392;
    --background: #1a261a;
  }
}

body {
  overscroll-behavior: none;
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  body {
    @apply h-screen;
    touch-action: none;
  }
}
