@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #1a261a;
  --background: #91d392;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #91d392;
    --background: #1a261a;
  }
}

body {
  overscroll-behavior: none;
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  body {
    @apply h-screen;
  }
}
